[submodule "external_libs/websocketpp"]
	path = external_libs/websocketpp
	url = git@github.com:zaphoyd/websocketpp.git
[submodule "external_libs/asio"]
	path = external_libs/asio
	url = git@github.com:chriskohlhoff/asio.git
[submodule "builds/gcc-10.2.0/external_libs/sol2"]
	path = builds/gcc-10.2.0/external_libs/sol2
	url = git@github.com:ThePhD/sol2.git
